html, body {   
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }

  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    /* background-image: url('images/itachi_back.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; */
    width:100%;
    height: 100%;
    background-image: url("./images/itachi_back.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #1A1A1D;
  }
  
  .joinInnerContainer {
    width: 20%;
  }
  
  .joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    color: white;
    font-size: 2.5em;
    border-bottom: 0.5px solid white;
  }

  .heading2 {
    color: rgb(255, 255, 255);
    font-size: 2.0em;
    padding-bottom: 5px;
    border-bottom: 0.5px solid white;
  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: #2979FF;
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }